$primary:    #3F51B5;
$secondary:  #e46791;
$success:    #4CAF50;
$info:       #64B5F6;
$warning:    #FFB74D;
$danger:     #f15555;
$light:      #F9F9F9;
$dark:       #1A237E;

@import "../../node_modules/bootstrap/scss/bootstrap";